<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <p>
            亲爱的{{.Name}}同学：
        </p>
        <p>
            比赛将于 2021 年 5 月 16 日（星期日）早 9:00:00 开始，持续 12 小时。您已经报名成功。下面是比赛平台地址，账号与密码：<br>
            比赛平台地址：<br>
            队伍账号：{{.Account}}<br>
            队伍密码：{{.Password}}
        </p>
        <p>
            为了方便大家熟悉平台，我们将于 2021 年 5 月 14 日（星期五）早 9:00:00 至 2021 年 5 月 15 日（星期六）晚 21:00:00 举行热身赛，热身赛不参与评奖，仅用于选手熟悉平台。<br>
            热身赛所用平台、账号与密码与初赛中所使用的完全相同，请所有参赛选手务必选择时间参加，避免初赛时出现不必要的麻烦。
        </p>
        <p>
            请不要回复此邮件。
        </p>
        <p>
            电子科技大学 ACM-ICPC 集训队
        </p>
    </body>
</html>
